{% extends 'base.html' %}

{% block style %}
  .background {
    background: linear-gradient(#28CBFF, white 40%, white 65%, #F094FF)
  }

  textarea {
    height: 60px !important;
    border: none !important;
    outline: none !important;
    background-color: #F094FF !important;
  }

  input {
    border: none !important;
    width: 55px !important;
    background-color: #F094FF !important;
  }

  label {
    color: #C51CC9;
  }

  button {
    color: #800083 !important;
    padding: 0 10px !important;
  }
{% endblock style %}

{% block content %}
  <div class="px-4 mt-4">
    <h2 class="mt-2 mb-5">Share your thoughts.</h2>

    <form action="" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="button" style="float:right">Submit</button>
      </form>
  </div>
{% endblock content %}

{% block script %}
  <script>
    const content = document.querySelector('textarea#textarea')
    const onlyEnglish = function() {
      const pattern2 = /[ㄱ-ㅎㅏ-ㅣ가-힣]/g
      this.value = this.value.replace(pattern2, '')
    }
    content.addEventListener('keyup', onlyEnglish)
  </script>
{% endblock script %}