{% extends 'base.html' %}


{% block style %}
  .background {
    background: linear-gradient(#28CBFF, white 28%)
  }
{% endblock style %}

{% block content %}
<div class="container m-3">

  <img src="https://image.tmdb.org/t/p/original{{ movie.poster_path }}" class="card-img-top" alt="포스터 이미지">
  <p>{{ movie.title }}</p>
  <p>{{ movie.release_date | date }}</p>
  <p>{{ movie.grade }}</p>
  <p><strong>Overview</strong></p>
  <p>{{ movie.description }}</p>
  <a href="{% url 'movies:create' movie.pk %}">평가하기</a>
  <form action="" method="POST">
    {% csrf_token %}
    <button>저장하기</button>
</form>




{% endblock content %}

