{% extends 'base.html' %}


{% block style %}
  .background {
    background: linear-gradient(#28CBFF, white 20%)
  }

  .movie-title {
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin: 0 !important;
  }

  .movie-specifics {
    color: #747474;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
  }

  .ratings {
    color: #747474;
    font-size: 16px;
    margin-right: 8px;
  }

  .border-bottom {
    border-width: 2px !important;
    border-color: #747474 !important;
  }

  .review-count {
    color: #747474;
    font-size: 12px;
  }

  .section-header {
    color: black;
    font-size: 16px;
    font-weight: bold;
  }

  .section-content {
    color: #3F3F3F;
    font-size: 14px;
  }

  .btn-color {
    color: #3F3F3F;
  }

  .review-created {
    font-size: 10px;
    color: #747474;
  }

  .review-writer {
    font-size: 15px;
    color: #747474;
    font-weight: bold;
  }

  .review-score {
    color: #747474;
    font-size: 13px;
    font-weight: bold;
  }

  .review-content {
    font-size: 14px;
    color: #3F3F3F;
  }
{% endblock style %}

{% block content %}
  <div class="content m-4">
    <div class="content-header d-flex mb-1">
      <div class="movie-poster me-3">
        <img src="https://image.tmdb.org/t/p/original{{ movie.poster_path }}" class="card-img-top" style="width:126px;" alt="포스터 이미지"> 
      </div>
      <div class="d-flex flex-column">
        <div class="mt-auto">
          <p class="movie-title">{{ movie.title }}</p>
        </div>
        <div class="movie-specifics">
          <span class="me-1 align-self-end">{{ movie.release_date|date:"Y"}}</span> •
          <span class="ms-1 align-self-end">{{ genre }}</span>
        </div>
      </div>
    </div>

    <div class="border-bottom py-1 d-flex align-items-end">
      <span class="ratings align-self-end ms-1"><i class="bi bi-star-fill me-1"></i>{{ movie.vote_average }}
        <small class="review-count">({{ total }})</small>
      </span>
    </div>

    <div class="d-flexbuttons my-3">
      {% if already_review %}
      {% for review in already_review %}
        <div class="d-flex flex-column justify-content-center"> 
          <div class="review-button">
            <a href="{% url 'movies:update' review.pk %}"><!--update로 수정해야함-->
              <i class="bi bi-star btn-color"></i>
            </a>
          </div>
          <div>Edit my review on this film</div>
        </div>
      {% endfor %}
      {% else %}
        <div class="d-flex flex-column justify-content-center">
          <div class="review-button">
            <a href="{% url 'movies:create' movie.pk %}">
              <i class="bi bi-star btn-color"></i>
            </a>
          </div>
          <div>Rate this film</div>
      {% endif %}

      <div class="save-button">
        <form method="POST" class="save-form" data-movie-id="{{ movie.pk }}">
          {% csrf_token %}
          {% if user in movie.bookmark.all %}
            <div>
              <button class="btn btn-color" id="save-{{ movie.pk }}">
                <i class="bi bi-check-circle-fill btn-color"></i>
              </button>
            </div>
            <div>
              <div>Already saved</div>
            </div>
          {% else %}
            <div>
              <button class="btn btn-color" id="save-{{ movie.pk }}">
                <i class="bi bi-plus-circle-dotted btn-color"></i>
              </button>
            </div>
            <div>
              <div>Save this film</div>
            </div>
          {% endif %}
        </form>
      </div>
    </div>

    <div class="overview mb-5 mt-3">
      <h4 class="section-header mb-3">Overview</h4>
      <p class="section-content">{{ movie.description }}</p>
    </div>

    <div class="reviews">
      <h4 class="section-header">Reviews</h4>
      {% for review in reviews %}
        <div class="mb-3 mt-3">
          <div class="review-header d-flex justify-content-between">
            <div class="review-score">
              {% if review.score == 1 %}
                <i class="bi bi-star-half"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                {{ review.score }}
              {% elif review.score == 2 %}
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                {{ review.score }}
              {% elif review.score == 3 %}
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                {{ review.score }}
              {% elif review.score == 4 %}
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>              
                {{ review.score }}
              {% elif review.score == 5 %}
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>      
                {{ review.score }}
              {% elif review.score == 6 %}
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                {{ review.score }}      
              {% elif review.score == 7 %}
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>   
                <i class="bi bi-star"></i>         
                {{ review.score }}
              {% elif review.score == 8 %}
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
                {{ review.score }}
              {% elif review.score == 9 %}
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
                {{ review.score }}
              {% else %}
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                {{ review.score }}
              {% endif %}
            </div>
            
            <div class="d-flex align-items-baseline">
              <div class="review-created me-2">{{ review.created_at|date:"Y-m-d" }}</div>
              <div class="review-writer">{{ review.user.nickname }}</div>
            </div>
          </div>
          <div class="review-content">{{ review.content }}</div>
          
          <form method="POST" class="like-form" data-review-id="{{ review.pk }}">
            {% csrf_token %}
              {% if request.user in review.like_users.all %}
                <button id="like-{{ review.pk }}">좋아요 취소</button>
              {% else %}
                <button id="like-{{ review.pk }}">좋아요</button>
              {% endif %}
          </form>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock content %}

{% block script %}
  <script>
    function updateBookmarkStatus(movieId, saved) {
      const saveBtn = document.querySelector(`#save-${movieId}>i`)
      saveBtn.classList = ''
      if (saved) {saveBtn.classList.add("bi", "bi-check-circle-fill", "btn-color")}
      else {saveBtn.classList.add("bi", "bi-plus-circle-dotted", "btn-color")}
    }
    function updateLikeStatus(reviewId, liked) {
      const likeBtn = document.querySelector(`#like-${reviewId}`)
      likeBtn.classList = ''
      if (liked) {
        likeBtn.innerText = '좋아요 취소'
      } else {
        likeBtn.innerText = '좋아요'
      }
    }

    async function onSubmit(event) {
      event.preventDefault()

      const movieId = event.target.dataset.movieId
      const url = `/movies/${movieId}/save/`

      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
      const config = {
        headers: {'X-CSRFToken': csrftoken},
      }

      const response = await axios.post(url, {}, config)
      const { saved } = response.data
      updateBookmarkStatus(movieId, saved)
      
    }
    async function likeOnSubmit(event) {
      event.preventDefault()
      console.log('되나????????')

      const reviewId = event.target.dataset.reviewId
      const url =   `/movies/${reviewId}/like/`

      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
      const config = {
        headers: {'X-CSRFToken': csrftoken},
      }

      const likeresponse = await axios.post(url, {}, config)
      const { liked } = likeresponse.data
      updateLikeStatus(reviewId, liked)
    }

    function attachEvent(form) {
      form.addEventListener('submit', onSubmit)
    }
    function attachLikeEvent(likeform) {
      likeform.addEventListener('submit', likeOnSubmit)
    }

    const form = document.querySelector('.save-form')
    const likeform = document.querySelectorAll('.like-form')
    attachEvent(form)
    likeform.forEach((form) => {
      attachLikeEvent(form)
    })
  </script>
{% endblock script %}