{% extends 'base.html' %}

{% block content %}
<div class="m-4">
  <h2>Reviews {{ review.user }} wrote</h2>
    <div class="container my-4 d-flex justify-content-between">
      <div>
        {{ review.content }} 
      </div>
      <div>
        <i class="bi bi-star-fill"></i> {{ review.score }}
      </div>
    </div>
    
    <div class='container d-flex justify-content-between'>
      {% if request.user == review.user %}
      <a href="{% url 'movies:update' review_pk %}">
        <button>Edit</button>
      </a>
      <form action="{% url 'movies:delete' review_pk %}" method="POST">
        {% csrf_token %}
        <button>Delete</button>
      </form>
        {% endif %}
    </div>
    <hr>
    <!-- 댓글 개수 출력 -->
    {% if comments|length %}
      {% if comments|length == 1 %}
        <p>View {{ comments|length }} comment</p>
      {% else %}
        <p>View all {{ comments|length }} comments</p>
      {% endif %}
    {% endif %}
    <hr>
    <!-- 댓글 출력 -->
    {% for comment in comments %}
      <div class="d-flex justify-content-between">
        <div>
          <strong>{{ comment.user }}</strong> {{ comment.content }}
        </div>
        <div>
          <p style="font-size: 12px;">{{ comment.updated_at | date:"Y.m.d H:i" }}</p>
        </div>
      </div>

      {% if request.user == comment.user %}
      <div class="container my-4 d-flex justify-content-between">
      <a href="{% url 'movies:updatecomment' comment.pk %}">
        <button>Edit</button>
      </a>
      <form action="{% url 'movies:deletecomment' comment.pk %}" method="POST">
        {% csrf_token %}
        <button>Delete</button>
      </form>
      {% endif %}
      </div>

      {% empty %}
      <p>0 Comment</p>
    {% endfor %}
    <hr>
    <!-- 댓글 작성 -->
    {% if request.user.is_authenticated %}
      <form action="{% url 'movies:read' review.pk %}" method="POST">
        {% csrf_token %}
        <div>
          {{ comment_form }}
        </div>
        <div class="container my-4 d-flex justify-content-end">
          <button>Write</button>
        </div>
      </form>
    {% endif %}
    
</div>
{% endblock content %}

