{% extends 'base.html' %}

{% block style %}
.background {
  background: linear-gradient(#28CBFF, white 30%)
}

.area {
  word-wrap: break-word !important;
  word-break: break-word !important;
}

button {
  color: black !important;
}

{% endblock style %}

{% block content %}
<div class="m-4">
  <h2>Reviews {{ review.user }} wrote</h2>
    <div class="container my-4 d-flex justify-content-between">
      <div>
        {{ review.content }} 
      </div>
      <div>
        <i class="bi bi-star-fill"></i> {{ review.score }}
      </div>
    </div>
    
    <div class='container d-flex justify-content-between'>
      {% if request.user == review.user %}
      <a href="{% url 'movies:update' review_pk %}">
        <button class="button"><i class="bi bi-pencil"></i></button>
      </a>
      <form action="{% url 'movies:delete' review_pk %}" method="POST">
        {% csrf_token %}
        <button class="button"><i class="bi bi-trash"></i></button>
      </form>
        {% endif %}
    </div>
    <hr>
    <!-- 댓글 개수 출력 -->
    <div>
      {% if comments|length %}
        {% if comments|length == 1 %}
          <p>View {{ comments|length }} comment</p>
        {% else %}
          <p>View all {{ comments|length }} comments</p>
        {% endif %}
      {% else %}
        <p>0 Comment</p>
      {% endif %}
    </div>
    <!-- 댓글 출력 -->
    {% for comment in comments %}
      <div class="p-2 ">
        <div class="d-flex justify-content-between">
          <div class="area">
            <strong>{{ comment.user }}</strong> {{ comment.content }}
          </div>
          <div>
            <p style="font-size: 12px;">{{ comment.updated_at | date:"Y.m.d H:i" }}</p>
          </div>
        </div>

        {% if request.user == comment.user %}
          <div class="container my-4 d-flex justify-content-between">
            <a href="{% url 'movies:updatecomment' comment.pk %}">
              <button class="button"><i class="bi bi-pencil"></i></button>
            </a>
            <form action="{% url 'movies:deletecomment' comment.pk %}" method="POST">
              {% csrf_token %}
              <button class="button"><i class="bi bi-trash"></i></button>
            </form>
          </div>
        {% endif %}
      </div>
    {% endfor %}
    <hr>
    <!-- 댓글 작성 -->
    <div>
      {% if request.user.is_authenticated %}
        <form action="{% url 'movies:read' review.pk %}" method="POST">
          {% csrf_token %}
          <div class="d-flex">
            <div style="width: 300px;">
              {{ comment_form }}
            </div>
            <div class="my-4 d-flex justify-content-end">
              <button class="button"><i class="bi bi-pencil"></i></button>
            </div>
          </div>
        </form>
      {% endif %}
    </div>
    
</div>
{% endblock content %}

