{% extends 'base.html' %}

{% block content %}
<header>
  <h2>오늘의 기분은?💭</h2>
</header>
<!-- 
<form action="" method="POST" name='form'>
  {% csrf_token %}
  {{ form.as_p }}
</form>
-->
  <ul>
    <li><p>I am</p></li>
    <li><a href="{% url 'movies:index' '1' %}">Happy</a></li>
    <li><a href="{% url 'movies:index' '2' %}">Hungry</a></li>
    <li><a href="{% url 'movies:index' '3' %}"></a></li>
    <li><a href="{% url 'movies:index' '4' %}">진정이 필요한</a></li>
    <li><a href="{% url 'movies:index' '5' %}">울고 싶은</a></li>
    <li><a href="{% url 'movies:index' '6' %}">울고 싶은</a></li>
    <li><a href="{% url 'movies:index' '7' %}">울고 싶은</a></li>
  </ul>

{% block script %}
  <script>
    function movepage(status) {
      location.href = status;
    }
    const statusbtn = document.getElementById('statuslist');
    selectTab.addEventListener('change', function () {
      const move = selectTab.options[selectTab.selectedIndex].value;
      if (move != 'x') {
        window.open(move)
        document.getElementById("slct").selected = 'true';
      }
    })



  </script>

{% endblock script %}

{% endblock content %}

