{% extends 'base.html' %}


{% block style %}
  .background {
    background: linear-gradient(#28CBFF, white 40%, white 65%, #F094FF)
  }
{% endblock style %}

{% block content %}
<div class="p-4">
  <h2 class="mb-4">Edit your comment.</h2>
    <form action="{% url 'movies:updatecomment' comment_pk %}" method="POST">
      {% csrf_token %}
      {{ form.content }}
      <div class="container my-4 d-flex justify-content-end">
        <button class="button btn-color">Update</button>
      </div
    </form>
</div>
{% endblock content %}

