{% extends 'base.html' %}

{% load static %}

{% block style %}
  .background {
    background: linear-gradient(#28CBFF, white 40%, white 65%, #F094FF)
  }

  .banner {
    border-radius: 45px;
  }

  p {
    color: #C51CC9;
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 5px;
  }

  .logo {
    width: 92px;
    position: relative;
    left: 83px;
    top: 5px;
  }

  button {
    display: inline !important;
  }
{% endblock style %}

{% block content %}
  <img src="{% static 'images/dripping.png' %}" alt="dripping effect" class="img-fluid banner">
  <div class="">
    <img src="{% static 'images/logo.png' %}" alt="logo image" class="logo img-fluid">
  </div>
  <h1 class="text-center pt-0 mt-0">MoodInside</h1>
  <div class="accounts-container">
    <form action="" method="POST" class="form-width-control">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="d-flex justify-content-between">
        <a href="{% url 'accounts:signup' %}" class="button">Create account</a>
        <button type="submit" class="button">Login</button>
      </div>
    </form>
  </div>
{% endblock content %}

{% block script %}
  <script>
    const navbar = document.querySelector('nav#navbar')
    navbar.setAttribute('class', 'd-none')
  </script>
{% endblock script %}