{% extends 'base.html' %}

{% block style %}
  .background {
    background: linear-gradient(#F094FF, white 20%)
  }

  .ratings {
    font-size: 14px;
    margin-left: 7px;
  }

  .review-item, a:hover, a:focus {
    color: #3F3F3F;
  }

  .profile-button {
    border: none !important;
    background: none !important;
    color: #800083 !important;
  }

  .update-font {
    color: #800083 !important;
  }
{% endblock style %}

{% block content %}
  <div class="px-4 my-4">
    <h2 class="my-4">Hello, {{ user.nickname }}.</h2>
    <div class="d-flex justify-content-between">
      <button class="profile-button p-0"><a href="{% url 'accounts:update_profile' user %}" class="update-font">Update my profile</a></button>
      <form action="{% url 'accounts:logout' %}" method="POST">
        {% csrf_token %}
        <button class="profile-button">Logout</button>
      </form>
    </div>
    <hr>

    <div class="profile-section py-2">
      <div class="saved-movies mb-5">
        <h3 class="my-2">Your saved movies</h3>
        <div style="font-size: 12px; color: #747474;" class="mb-3">
          There are total {{ user.saved.all | length }}
          {% if user.saved.all|length > 1 %}
            saved movies.
          {% else %}
            saved movie.
          {% endif %}
        </div>
        <div class="row row-cols-4 px-1 gy-4">
          {% for movie in user.saved.all  %}
            <div>
              <a href="{% url 'movies:detail' movie.pk %}">
                <div class="col">
                  <div class="card">
                    <img src="https://image.tmdb.org/t/p/original{{ movie.poster_path }}" class="card-img-top" alt="포스터 이미지"> 
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="my-reviews mb-5">
        <h3 class="mt-3 mb-2">Your reviews</h3>
        <div style="font-size: 12px; color: #747474;" class="mb-3">
          There are total {{ user.review_set.all | length }}
          {% if user.saved.all|length > 1 %}
            reviews.
          {% else %}
            review.
          {% endif %}
        </div>
        {% for review in user.review_set.all  %}
          <a href="{% url 'movies:read' review.pk %}" class="text-decoration-none review-item mb-3">  
            <p class="fw-bold m-0" style="font-size: 15px;">{{ review.movie.title }}
              <span class="ratings">
                <i class="bi bi-star-fill"></i>
                {{ review.score }}
              </span>
            </p>
            <p style="font-size: 14px; color: #747474;">{{ review.content }}</p>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock content %}

