{% extends 'base.html' %}

{% load static %}

{% block style %}
  .background {
    background: linear-gradient(#28CBFF, white 40%, white 73%, #F094FF)
  }

  .banner {
    border-radius: 45px;
  }

  p {
    color: #C51CC9;
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 5px;
  }

  .header-width-control {
    width: 219px;
  }

  .alert {
    width: 218px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  ul {
    text-align: start !important;
    display: flex;
    justify-content: center;
  }
{% endblock style %}

{% block content %}
  <img src="{% static 'images/dripping_others.png' %}" alt="dripping effect"  class="img-fluid banner">
  <div class="d-flex flex-column">
    <header class="d-flex justify-content-center">
      <div class="header-width-control">
        <h2>New here?</h2>
        <h2>Create account.</h2>
      </div>
    </header>

    <ul class="list-unstyled m-2 text" style="text-align: center;">
      {% for message in messages %}
      <li 
          {% if message.tags == 'error' %}
          class="alert p-0"
          {% endif %}
        >
          {{  message }}
      {% endfor %}
    </ul>
  
    <div class="accounts-container">
      <form action="" method="POST" class="form-width-control">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
          <a href="{% url 'accounts:login' %}" class="button">Back</a>
          <button type="submit" class="button" style="float:right;">Confrim</button>
        </div>
      </form>
    </div>
  </div>

{% endblock content %}

{% block script %}
  <script>
    const navbar = document.querySelector('nav#navbar')
    navbar.setAttribute('class', 'd-none')

    const username = document.querySelector('input#username')
    const nickname = document.querySelector('input#nickname')
    const onlyEnglish = function() {
      const pattern2 = /[ㄱ-ㅎㅏ-ㅣ가-힣]/g
      this.value = this.value.replace(pattern2, '')
    }
    username.addEventListener('keyup', onlyEnglish)
    nickname.addEventListener('keyup', onlyEnglish)
  </script>
{% endblock script %}