{% extends 'base.html' %}

{% block style %}
  .background {
    background: linear-gradient(#F094FF, white 20%)
  }
{% endblock style %}

{% block content %}
  <div class="px-4 mt-4">
    <h2 class="my-4">Update your nickname.</h2>
  
    {% comment %} <a href="{% url 'accounts:userdelete' user.username %}">회원 탈퇴</a> {% endcomment %}
    <form action="" method="POST">
      {% csrf_token %}
      {{ form1.as_p }}
      {{ password_form.as_p }}
      <button>수정 완료</button>
    </form>
  </div>

  <form action="{% url 'accounts:userdelete' user.username %}" method = 'POST'>
    {% csrf_token %}
    <button type="button" class="btn mybtn" style="float: right" data-bs-toggle="modal" data-bs-target="#userDeleteModal">회원탈퇴</button>
    
    <!-- userdelete Modal (accounts/user_delete.html)-->
    <div class="modal fade" id="userDeleteModal" tabindex="-1" aria-labelledby="userDeleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title fw-bold" id="userDeleteModal">Wanna </h5>
          </div>
          
          <div class="modal-body">
            <p>We need your password for withdrawl</p>
            <ul class="list-unstyled m-2 text" style="text-align: center;">
              {% comment %} {% if error in password_form.password.errors %}
                {{ error }}
              {% endif %} {% endcomment %}
            </ul>
              
            <form action="{% url 'accounts:userdelete' user.username %}" method="POST">
              {% csrf_token %}
              <div>
                <label for="label_password" for="{{ password_form.password.id_for_label }}">{{ password_form.password.label }}</label>
                {{ password_form.password }}
                {% if password_form.password.erros %}
                  {% for error in password_form.password.errors %}
                    {{ error }}
                  {% endfor %}
                {% endif %}
              </div>
              <div class="d-flex justify-content-between mt-3">
                <button type="button" data-bs-dismiss="modal">cancel</button>
                <button>Leave</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </form>
{% endblock content %}

