
{% extends 'base.html' %}

{% block content %}
<form action="" method="POST">
  {% csrf_token %}
  <div>
    <label for="label_password" for="{{ password_form.password.id_for_label }}">{{ password_form.password.label }}</label>
    {{ password_form.password }}
    {% if password_form.password.erros %}
      {% for error in password_form.password.errors %}
        {{ error }}
      {% endfor %}
    {% endif %}
  </div>
  <div class="d-flex justify-content-between mt-3">
    <a href="{% url 'accounts:update_profile' user %}">cancel</a>
    <button>Leave</button>
  </div>
</form>

{% endblock content %}


