body {
  font-family: Helvetica, sans-serif;
}

h1 {
  color: #800083;
  font-weight: 750;
  font-size: 38.5px;
}

h2 {
  color: #800083;
  font-weight: 700;
  font-size: 27px;
  margin-bottom: 2px;
}

input {
  height: 24px;
  border: none !important;
  background: #F094FF !important;
  font-size: 14px !important;
  margin-top: 4px !important;
  padding: 0 6px !important;
}

.btn:focus, .btn:active, .form-control:focus, .form-control:active {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  padding: 0 6px;
}

.background {
  width: 375px;
  height: 803px;
  border-radius: 45px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.background::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.button {
  background: none !important;
  border: none !important;
  color: #800083 !important;
  font-size: 14px;
  text-decoration: none !important;
}

.accounts-container {
  width: 218px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.form-width-control {
  margin-top: 11px;
}

ul {
  padding: 0 !important;
}

li {
  font-size: 10px;
  list-style-type: none;
  color: #3F3F3F;
}

.mood-select {
  width: 117px;
  text-align: center;
}

a, a:focus, a:active, a:hover {
  text-decoration: none !important;
}

.bi-arrow-left, .bi-person-circle {
  color: #222222;
  font-size: 30px;
}

nav {
  padding: 8px 30px 0 22px;
}