body {
  font-family: Helvetica, sans-serif;
}

h1 {
  color: #800083;
  font-weight: 750;
  font-size: 38.5px;
}

h2 {
  color: #800083;
  font-weight: 700;
  font-size: 27px;
  margin-bottom: 2px;
}

h3 {
  color: #800083;
  font-size: 20px;
  font-weight: 700;
}

.btn:focus, .btn:active, .form-control:focus, .form-control:active {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.background {
  width: 375px;
  height: 803px;
  border-radius: 45px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.background::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.button {
  background: none !important;
  border: none !important;
  color: #800083 !important;
  font-size: 14px;
  text-decoration: none !important;
}

.accounts-container {
  width: 218px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.form-width-control {
  margin-top: 11px;
}

ul {
  padding: 0 !important;
}

li {
  font-size: 10px;
  list-style-type: none;
  color: #3F3F3F;
}

.mood-select {
  width: 117px;
  text-align: center;
}

a, a:focus, a:active, a:hover {
  text-decoration: none !important;
}

.bi-arrow-left, .bi-person-circle, .bi-heart-pulse {
  color: #222222;
  font-size: 30px;
}

nav {
  padding: 12px 38px 0 24px;
}

.bi-star-half, .bi-star-fill, .bi-star {
  color: rgb(255, 157, 0);
}

.save-button {
  border: none !important;
  background: none !important;
  padding: 0 !important;
  font-size: 23px;
}

.review-button {
  font-size: 23px;
  text-align: center;
}

.review-status {
  font-size: 12px;
}

.save-status {
  font-size: 12px;
}

.vl {
  border-right: 1px solid;
  border-color: #AAAAAA;
  height: 40px;
  width: 28px;
}

.nav-icons {
  padding: 0 3px 0 11px !important;
}