<!DOCTYPE html>
{% load static %}

<html lang="en" class="d-flex justify-content-center align-items-center h-100">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <title>희희호호 관통final</title>
  <style>
    .iphone {
      width: 937px;
      position: absolute;
      left: 50%; top: 50%;
      transform: translate(-48.35%, -45.49%);
      z-index: -1;
    }

    {% block style %}
    {% endblock style %}
  </style>
</head>
<body>
  <div class="background">
    <img src="{% static 'images/iphone_13_mockup.png' %}" alt="iphone 13 mockup" class="iphone">
    <nav id="navbar" class="sticky-top">
      <div class="d-flex justify-content-between">
        <a href="{{ request.META.HTTP_REFERER }}">
          <i class="bi bi-arrow-left"></i>
        </a>
        <div class="d-flex">
          <a href="{% url 'movies:select_mood' %}" class="nav-icons">
            <i class="bi bi-heart-pulse"></i>
          </a>
          {% if request.user.is_authenticated %}
            <a href="{% url 'accounts:profile' user.username %}" class="nav-icons">
              <i class="bi bi-person-circle"></i>
            </a>
          {% endif %}
        </div>
      </div>
    </nav>
    {% block content %}
    {% endblock content %}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  {% block script %}
  {% endblock script %}
</body>
</html>
